.carousel {
  overflow: hidden;
}
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-item {
  flex: 0 0 100%;
  max-width: 100%;
  height: 35rem;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  overflow: hidden;
  align-content: center;
}

img {
  align-content: center;
  overflow: hidden;
}

.img-gradient {
  background: linear-gradient(to top, black 0%, white 70%);
  opacity: 50%;
  top: 0;
  left: 0;
}

.text-overlay {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: white; /* Change text color as needed */
}

.section-icons {
  height: 1.5rem;
  width: 1.5rem;
}

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
