<body style="background: #dde5b6">
  <div class="flex flex-col items-center h-screen py-10">
    <p
      style="
        color: rgb(161, 180, 111);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2rem;
        text-align: start;
        margin: 1rem;
        font-weight: 700;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      "
    >
      Registrarse
    </p>
    <form
      [formGroup]="formularioRegistro"
      class="flex justify-center items-center h-screen"
    >
      <div class="flex flex-col items-center h-screen">
        <div id="rectangle-bg" class="p-8 flex flex-col items-center">
          <div class="grid grid-cols-2 space-y-5">
            <p
              style="
                font-family: Arial, Helvetica, sans-serif;
                margin-top: 1.5rem;
              "
            >
              Nombre
            </p>
            <input
              id="registerandlogin-input"
              type="text"
              formControlName="nombre"
              required
            />
            <p style="font-family: Arial, Helvetica, sans-serif">Apellidos</p>
            <input
              id="registerandlogin-input"
              type="text"
              formControlName="apellidos"
              required
            />
            <p style="font-family: Arial, Helvetica, sans-serif">Email</p>
            <input
              id="registerandlogin-input"
              type="text"
              formControlName="mail"
              required
            />
            <p style="font-family: Arial, Helvetica, sans-serif">NickName</p>
            <input
              id="registerandlogin-input"
              type="text"
              formControlName="nickname"
              required
            />
            <p style="font-family: Arial, Helvetica, sans-serif">Contraseña</p>
            <input
              id="registerandlogin-input"
              type="text"
              formControlName="contraseña"
              required
            />
            <p style="font-family: Arial, Helvetica, sans-serif">Edad</p>
            <input
              id="registerandlogin-input"
              type="text"
              formControlName="edad"
              required
            />
          </div>
          <button
            id="registerandlogin-button"
            class="text-black"
            aria-setsize="5"
          >
            <div class="flex items-center text-center p-2">Registrarse</div>
          </button>
          <p
            style="font-family: Arial, Helvetica, sans-serif; font-weight: 100"
          >
            ¿Ya tienes cuenta?<a
              href="/inicio-sesion"
              class= "font-semibold text-black hover:text-white"
              >Iniciar Sesión</a
            >
          </p>
        </div>
      </div>
    </form>
  </div>
</body>
