@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-lines-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6; /* Number of lines to show before truncating */
}

.truncate-lines-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Number of lines to show before truncating */
}
